root = true

[*.{c,h}]
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = latin1

[CMakeLists.txt]
indent_style = space
indent_size = 4
end_of_line = lf

[*.cmake]
indent_style = space
indent_size = 4
end_of_line = lf

[Makefile]
indent_style = tab
end_of_line = lf
