[submodule "external/libdap"]
	path = external/libdap
	url = https://github.com/RetroCoreLabs/libdap
	branch = main
[submodule "external/cJSON"]
	path = external/cJSON
	url = https://github.com/DaveGamble/cJSON.git
	branch = master
[submodule "external/libsymbols"]
	path = external/libsymbols
	url = https://github.com/RetroCoreLabs/libsymbols
	branch = main
[submodule "template-glass/external/RetroTermWeb"]
	path = template-glass/external/RetroTermWeb
	url = ../RetroTermWeb
[submodule "template-glass/external/norskdata-ndfs"]
	path = template-glass/external/norskdata-ndfs
	url = https://github.com/RetroCoreLabs/norskdata-ndfs.git
[submodule "external/ndmonlib"]
	path = external/ndmonlib
	url = https://github.com/RetroCoreLabs/ndmonlib.git
[submodule "external/nd500x"]
	path = external/nd500x
	url = https://github.com/RetroCoreLabs/nd500x.git
	branch = 500x-improvements
